<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <h1>Intern Log</h1>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li>
                    <NavLink  href="/Entry" Match="NavLinkMatch.All">
                        <i class="fas fa-table"></i>Entries
                    </NavLink>
                </li>
                <li>
                    <NavLink  href="/Export" Match="NavLinkMatch.All">
                        <i class="far fa-check-square"></i>Export
                    </NavLink>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->
